{% extends 'base.html.twig' %}

{% block title %}Débug Zone{% endblock %}

{% block body %}
    {% if app.user %}
        <h1 class="mainTitle">WHOOPSY</h1>
        <h4 class="bugTitle text-center"> "{{ bug.title }}" - {{ bug.author }}</h4>
        <article class="bugContent">{{ bug.content }}</article>
        {% if bug.imgA %}
            <img src="{{ bug.imgA }}" alt="Image 1">
        {% endif %}
        {% if bug.imgB %}
            <img src="{{ bug.imgB }}" alt="Image 2">
        {% endif %}
        {% if bug.imgC %}
            <img src="{{ bug.imgC }}" alt="Image 3">
        {% endif %}

        <h3 class="soluceTitle">SOLUCES</h3>
        {% for comment in bug.comments %}
            <div class="card">
                <p class="card-body">{{ comment.author }}<br>
                    {{ comment.comment }}</p>
                {# {% if app.user is same as (comment.author) %}
                     {% include '/bug/_delete_comment.html.twig' %}
                 {% endif %}#}
            </div>
        {% endfor %}

        {% if bug.resolved == 0 %}
            {{ form_start(form) }}
            {{ form_label(form.comment, 'Poster une solution') }}
            {{ form_widget(form.comment) }}
            <button class="btn">{{ button_label|default('Envoyer') }}</button>
            {{ form_end(form) }}
        {% endif %}


    {% else %}
        <p class="text-center">Veuillez vous connecter pour accéder à cette page
            <a href="{{ path('app_login') }}">Connexion</a>
        </p>
    {% endif %}
{% endblock %}