{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1 class="mainTitle bold">{{ article.title }}</h1>
    <h3 class="text-center publishBy">Publié par {{ article.author }}</h3>
    <div class="card articleCard">
        <img class="card-img articleImg" src="{{ article.poster }}" alt="Illustration article">

    <article>{{ article.content }}</article>
    {% if article.link %}
        <a href="{{ article.link }}" target="_blank">En savoir plus</a><br>
    {% endif %}
    <div class="card-link text-center">
        <a href="{{ path('home') }}">Retour aux articles</a>
    </div>

    {% if app.user %}
        {% if app.user is same as (article.author) %}
            <a href="{{ path('article_edit', {'id': article.id}) }}"> Modifier l'article</a>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
